.projects-section{
    padding: 60px 20px;
    background: #eef7ff;
}

.projects-title{
    font-size: 32px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

/* .projects-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  margin-top: 8px;
} */

.projects-desc {
  margin-bottom: 40px;
  color: #555;
  text-align: center;
  font-size: 18px;
}

/* Grid */
.projects-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.project-card{
    display: flex;
    gap: 18px;
    align-items: flex-start;
    padding: 20px;
    border-radius: 16px;

    transition: all 0.3s ease;
}

.project-card:hover{
    transform: translateY(-8px);
    background: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.project-card:hover h3{
  color: #149ddd;
  transition: color 0.3s ease;
}

.project-card:hover .icon{
  background: #149ddd;
  color: white;
}

/* ICON */
.icon {
  min-width: 60px;
  height: 60px;
  /* background: #149ddd;
  color: white; */
  background: white;
  color: #149ddd;
  border: 2px solid #149ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

/* TEXT */
.project-card h3 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 8px;
}

.project-card p {
  margin: 0;
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

/* TABLET */
@media (max-width: 992px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .projects-container {
    grid-template-columns: 1fr;
  }

  .project-card {
    flex-direction: row;
  }
  
    .projects-desc{
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
  }
}