body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: white;
  padding: 15px 30px;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #aaa;
}


nav div {
  display: flex;
  gap: 15px;
}